/* rem and em do NOT depend on HTML fontsize in media queries instead, 1rem - 1em = 16px*/
/* **************************************** */
/* BELOW 1226px (SMALLER DESKTOPS) */
/* **************************************** */
@media (max-width: 76.625em) {
  html {
    /* %tage of user's browser fontsize setting */
    font-size: 55%;
  }

  .main--article {
    margin-top: 20rem;
  }
}

/* **************************************** */
/* BELOW 1157px */
/* **************************************** */
@media (max-width: 72.3125em) {
  html {
    /* %tage of user's browser fontsize setting */
    font-size: 51%;
  }
}

/* **************************************** */
/* BELOW 1066px (TABLET VIEW)*/
/* **************************************** */
@media (max-width: 66.625em) {
  html {
    /* %tage of user's browser fontsize setting */
    font-size: 62.5%;
  }

  .nav-bar--main {
    padding-top: 0;
  }

  .nav-bar--elements {
    padding: 0rem 5.3rem 0rem 5.3rem;
  }

  .main--technology {
    max-width: 100vw;
    margin-top: 7.6rem;
  }

  .main--article {
    width: 76.8rem;
    margin: 0 auto;
    margin-top: 6rem;
    grid-template-columns: 14.5rem 47.8rem 14.5rem;
    grid-template-rows: 31rem 8rem 23.7rem;
    row-gap: 5.6rem;
    align-items: center;
    justify-items: center;
  }

  /* .space-launch {
    grid-row: 1 / 2;
    grid-column: 1 / span 3;
  } */

  .technology--img {
    content: url("../../starter-code/assets/technology/image-launch-vehicle-landscape.jpg");
    /* height: 31rem; */
    width: 100%;
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
  }

  .technology--navigation {
    display: flex;
    gap: 1.6rem;
    grid-column: 2/ 3;
    grid-row: 2/3;
  }

  .technology--details {
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 23.7rem;
    width: 47.8rem;

    align-items: center;
  }

  .tech-name {
    font-size: 5rem;
  }

  .tech-bio {
    text-align: center;
  }
}

/* **************************************** */
/* BELOW 1026pc (MUCH SMALLER DESKTOPS) */
/* **************************************** */

/* @media (max-width: 64.125em) {
  html {
    font-size: 53%;
  }

  .nav-bar--main {
    padding-top: 3rem;
  }

  .nav-bar--elements {
    padding: 0rem 5.3rem 0rem 5.3rem;
  }

  .heading--5 {
    font-size: 3.5rem;
  }

  .heading--4 {
    font-size: 5rem;
  }

  .heading--3 {
    font-size: 7rem;
  }

  .normal {
    font-size: 2rem;
  }
} */

/* **************************************** */
/* BELOW 900pc (TABLET) */
/* **************************************** */

@media (max-width: 61.25em) {
  html {
    /* %tage of user's browser fontsize setting */
    font-size: 50%;
  }

  body {
    background-image: url("../../starter-code/assets/technology/background-technology-tablet.jpg");
  }
}
