/* rem and em do NOT depend on HTML fontsize in media queries instead, 1rem - 1em = 16px*/

/* **************************************** */
/* BELOW 1210 (SMALLER DESKTOPS) */
/* **************************************** */

@media (max-width: 75em) {
  html {
    /* %tage of user's browser fontsize setting */
    font-size: 55%;
  }

  .main {
    margin-top: 15rem;
  }
}

/* **************************************** */
/* BELOW 980 (TABLET) */
/* **************************************** */
@media (max-width: 61.25em) {
  body {
    width: auto;
    background-image: url("../../starter-code/assets/destination/background-destination-tablet.jpg");
  }

  .nav-bar--main {
    padding-top: 0;
  }

  .nav-bar--elements {
    padding: 0rem 5.3rem 0rem 5.3rem;
  }

  .main {
    width: 76.8rem !important;
    margin: 0 auto;
    margin-top: 0;
  }

  .webpage {
    margin-top: 4rem;
  }

  .planet-description {
    width: 57.3rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .planet-img {
    width: 30rem;
    height: 30rem;
  }

  .planet-details {
    margin-top: 5.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .planets-navigation {
    max-width: 29rem;
  }

  .short-description {
    text-align: center;
  }

  .divider {
    height: 2px;
    width: 100%;
    /* background-color: green; */
  }
}
