/* rem and em do NOT depend on HTML fontsize in media queries instead, 1rem - 1em = 16px*/
/* **************************************** */
/* BELOW 1150px (SMALLER DESKTOPS) */
/* **************************************** */
@media (max-width: 71.875em) {
  html {
    /* %tage of user's browser fontsize setting */
    font-size: 55%;
  }
}

/* **************************************** */
/* BELOW 1026pc (MUCH SMALLER DESKTOPS) */
/* **************************************** */

@media (max-width: 64.125em) {
  html {
    font-size: 53%;
  }

  .nav-bar--main {
    padding-top: 3rem;
  }

  .nav-bar--elements {
    padding: 0rem 5.3rem 0rem 5.3rem;
  }

  .heading--5 {
    font-size: 3.5rem;
  }

  .heading--4 {
    font-size: 5rem;
  }

  .heading--3 {
    font-size: 7rem;
  }

  .normal {
    font-size: 2rem;
  }
}

/* **************************************** */
/* BELOW 900pc (TABLET) */
/* **************************************** */

@media (max-width: 61.25em) {
  html {
    /* %tage of user's browser fontsize setting */
    font-size: 50%;
  }

  body {
    background-image: url("../../starter-code/assets/crew/background-crew-tablet.jpg");
  }

  .nav-bar--main {
    padding-top: 0;
  }

  .nav-bar--elements {
    padding: 0rem 5.3rem 0rem 5.3rem;
  }

  .main--crew {
    max-width: 45.737rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    margin-top: 4rem;
  }

  .crew--image {
    height: 57.2rem;
    margin: 0;
  }

  .crew--role {
    margin-top: 6rem;
  }

  .crew--nav {
    margin-top: 4rem;
    width: 17.5rem;
  }

  .crew--details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
